<div class="container mt-3">

  <button class="btn btn-primary float-right" (click)="createUser()">Create User</button>




  <table class="table">


    <tr class="heading">

      <thead>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Email
        </th>
        <th>
          Phone Number
        </th>
        <th>
          Edit
        </th>
        <th>
          Delete
        </th>
      </thead>
      <tbody>
        <tr *ngFor=" let item of userlist">
          <td>
            {{item.FirstName}}
          </td>
          <td>
            {{item.LastName}}
          </td>
          <td>
            {{item.Email}}
          </td>
          <td>
            {{item.PhoneNumber}}
          </td>
          <td>
            <button class="btn btn-primary" (click)="editUser(item._id)">Edit </button>
          </td>

          <td>
            <button class=" btn btn-danger" (click)="deleteUser(item._id)"> Delete</button>
          </td>

        </tr>
      </tbody>


    </tr>
  </table>
</div>
